:root {
  --purple-color: #9965f4;
  --pink-color: #f465c2;
  --orange-color: #fad1bd;
  --white-color: whitesmoke;
  --grey-color: grey;
}

.container {
  background-color: var(--white-color);
  min-height: 300px;
  padding: 0px;
}

body {
  background-color: var(--grey-color);
}

#div-body {
  padding: 5px 25px;
}

/* Nav Bar */
.navbar li {
  list-style-type: none;
  word-break: break-all;
  text-align: center;
}
#logout {
  text-align: right;
}

.nav-bar-background {
  background-color: var(--orange-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: flex-end;

}


.main-nav, .main-nav:hover, .main-nav:focus {
  text-decoration: none;
  color: var(--grey-color);
  border-bottom: black solid 2px;
}

.main-nav:hover {
  font-weight: bold;
  color: var(--pink-color);
  border-bottom: var(--pink-color) solid 2px;
}

.main-nav-active {
  color: var(--purple-color);
  text-decoration: none;
  border-bottom: var(--purple-color) solid 3px;
  font-weight: bold;
}

.main-nav-active:focus {
  color: var(--purple-color);
  text-decoration: none;
  border-bottom: var(--purple-color) solid 3px;
  font-weight: bold;
}

/* employee page */
.user-info-wrapper {
  padding: 0 10px;
  border-radius: 2%;
  margin: 5px 0;
  word-wrap: break-word;
}
.user-info-wrapper.variant-0 {
  border: solid var(--pink-color) 5px;
}
.user-info-wrapper.variant-1 {
  border: solid var(--orange-color) 5px;
}
.user-info-wrapper.variant-2 {
  border: solid var(--purple-color) 5px;
}


.user-info-row-0 {
  background-color: var(--pink-color)
}
.user-info-row-1 {
  background-color: var(--orange-color)
}
.user-info-row-2 {
  background-color: var(--purple-color)
}


/* Reimbursement Card */
.reimbursementCardOutline.pending {
  border: var(--orange-color) solid 3px
}

.reimbursementCardOutline.approved {
  border: var(--purple-color) solid 3px
}

.reimbursementCardOutline.denied {
  border: var(--pink-color) solid 3px
}

